.gallery {
    background-color: gray;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,fr);
}
.gallery > div{
    border: 1px solid #000;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.gallery .photo-5{
    grid-column: 2/4;
    grid-row: 2/3;
}
.photo-1{
    background-image: url('https://picsum.photos/id/237/200/300');
}
.photo-2{
    background-image: url('https://picsum.photos/id/237/200/300');
}
.photo-3{
    background-image: url('https://picsum.photos/id/237/200/300');
}
.photo-4{
    background-image: url('https://picsum.photos/id/237/200/300');
}
.photo-5{
    background-image: url('https://picsum.photos/id/237/200/300');
}